
include ../layout

doctype html
html.devblog-article

head
	+heady("monarch - " + articleTitle)
	link(rel="stylesheet" href="../../../../../style.css")

body
	+monarch-header("devblog")
	main.content
		each post in posts
			section.post(data-author=post.author)
				div.post-author= post.author
				div.post-content !{post.markdownContent}
