
include layout

doctype html
html.home

head
	+heady("monarch games")
	link(rel="stylesheet" href="./style.css")

body
	+monarch-header("home")

	main.content
		h1 open source game development team
		p check out the new #[a(href="devblog") devblog]
