
extends _page.pug

block body4
	.posts
		each post in websiteData.references.blogPosts
			- var blogPage = websiteData.pages.find(p => p.id === post.pageId)
			a(href=`/blog/${blogPage.details.name}/`)
				//- span= post.date
				//- |
				//- |
				span= blogPage.details.title
