
extends _page.pug

block body4
	.posts
		each post in websiteMetadata.references.blogPosts
			- var blogPage = websiteMetadata.pages.find(p => p.id === post.pageId)
			a(href=blogPage.link)
				//- span= post.date
				//- |
				//- |
				span= blogPage.title
