
mixin head(pageTitle)
	meta(charset="utf-8")
	title= pageTitle
	block

mixin header(name, pages)
	header.header
		h1
			span Turtle
			span Blog
		nav
			each page in pages
				if page.name.toLowerCase() === name.toLowerCase()
					a(href=page.link data-marked="true")= page.name
				else
					a(href=page.link data-marked="false")= page.name
