
mixin head(pageTitle)
	meta(charset="utf-8")
	title= pageTitle
	block

mixin header(label, pages)
	header.header
		h1
			span Turtle
			span Blog
		nav
			each page in pages
				if page.label.toLowerCase() === label.toLowerCase()
					a(href=page.link data-marked="true")= page.label
				else
					a(href=page.link data-marked="false")= page.label
