
include _mixins

doctype html
html.blog-index

head
	+head(`turtleblog`)
	link(rel="stylesheet" href="/style.css")

body
	+header(blog, pages)

	main.content
		.posts
			each post in blogPosts
				a(href=post.link)
					span= post.date
					|
					|
					span= post.title
