
include _mixins

doctype html
html(class=`page ${page.label}`)

head
	+head(`turtleblog - ${page.label}`)
	link(rel="stylesheet" href="/style.css")

body
	+header(page.label, pages)
	main.content !{content}
